
    
 .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white
 }
 /* .column{
    float: left;
    width: 33.33%;
    padding: 5px;
 }
 .row::after{
    content: "";
    clear: both;
    display:across;
 } */
body .div{
    background-color: burlywood;
}